@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   
   Date:     
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.7em;
    font-family: Arial narrow, san-serif;
	background-color: Grey;
}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color: white;
}


header {
    width: 910px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #888888;
    box-shadow: 20px 20px 5px 0 #888888;
    border-radius: 25px;  	
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 2px;
    color: Blue;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: Black;
    border-radius: 10px;
    color: white;
}

#main {
    width: 400px;
    padding: 8px;
    float: left;
    color: Navy;
    border-left: 5px solid;
    border-right: 5px solid;    
    background-image: url(images/ricepaper.jpg); 
}

#main p {
    text-indent: 1.0em;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-style: Italic;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: Blue;
    clear: both;
    color: Black;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}/* navigation for footer */
footer a:link {
    color: Black;
    text-decoration: none;
}

footer a:visited {
    color: navy;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
